.about {
    @include container;
    margin-top: 1.2rem;

    .inner-container {
        @include innerContainer;

        p {
            padding-bottom: 1.5rem;
        }

        .products {

            .card-wrap {
                @include card;

                .headings {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 1rem;
                }

                .counts-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        padding-bottom: 0;
                        span {
                            @include productLeftSpan;

                        }
                    }

                    .btn {
                        @include btn;
                    }

                    .reward-btn:hover {
                        background: $darkcyan;
                    }
                }

                .no-stock {
                    .headings h4 {
                        color: $darkgray;
                    }

                    .counts-wrap p span {
                        color: gray;
                    }

                    .counts-wrap a {
                        background: gray;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .about {
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 550px) {
    .about {
        width: 100%;
        padding: 2rem 1rem;
        .inner-container {
            padding: 0;

            .inner-container h3, .inner-container p {
                padding: 0 0.5rem 1.5rem 0;
            }

            .products {
                .card-wrap {
                    padding: 1rem;

                    .headings, .counts-wrap {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}