// Overlay mobile menu active
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.active-overlay {
    visibility: visible;
    opacity: 1;
}

// Back project modal
.backproject-modal {
    display: none;
}

.active-backproj-modal {
    display: block;
    @include centerX;
    @include container;
    max-width: 720px;
    top: 22%;

    .backproject-header {
        @include innerContainer;

        .close-modal {
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;

            img {
                opacity: 0.4;
            }
        }

        .close-modal:hover img {
            opacity: 1;
        }

        p {
            margin-top: 1rem;
        }
    }

    .products {
        @include innerContainer;
        padding: 0.5rem 3rem;

        .card-wrap {
            @include card;
            padding: 1rem;

            .card {
                position: relative;
                padding: 1rem;

                .headings {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .round {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        position: relative;
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        margin-right: 20px;
                        padding: 5px;
                        border: 2px solid #f1f1f1;
                        background-clip: content-box;
                        background-color: white;
                    }

                    input[type="radio"]:checked {
                        background-color: $moderatecyan;
                    }

                    .titles {
                        display: flex;
                        align-items: baseline;

                        h5 {
                            margin-left: 1rem;
                            color: $moderatecyan;
                        }
                    }
                }

                .headings:hover h4 {
                    color: $moderatecyan;
                }

                .headings:hover .round {
                    border: 1px solid $moderatecyan;
                }

                .zero-stock {
                    opacity: 0.4;
                    pointer-events: none;
                }

                p {
                    padding: 1rem 0 0 50px;
                }

                .pledge-left {
                    position: absolute;
                    top: -1rem;
                    right: 1.5rem;

                    .nb-left {
                        @include productLeftSpan;
                    }
                }
            }

            .buy-pledge {
                display: none;
            }

            .buy-pledge-active {
                border-top: 1px solid #f1f1f1;
                margin-top: 1rem;
                padding: 2rem 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .buy-btns {
                    display: flex;

                    .price {
                        @include btn;
                        padding: 1rem 1.5rem;
                        display: flex;
                        background-color: white;
                        border: 2px solid #f1f1f1;
                        color: lightgray;
                        width: 130px;
                        margin-right: 1rem;

                        .amount-input {
                            margin-left: 0.4rem;
                            color: black;
                            font-weight: bold;
                            font-size: 1rem;
                            border: none;
                            width: 60px;
                        }
                        .amount-input:focus, .amount-input:active {
                            outline: none;
                        }
                    }

                    .btn {
                        @include btn;
                        width: 130px;
                    }

                    .btn:hover {
                        background: $darkcyan;
                    }
                }

            }
        }

        .card-wrap-active {
            border: 2px solid $moderatecyan;
        }
    }
}

// back project modal: mobile version
@media screen and (max-width: 800px) {
    .backproject-modal .products .card-wrap .card {

        p {
            padding: 1rem 0;
        }

        .pledge-left {
            position: relative;
            display: block;
            padding: 1rem 0;
            top: 0;
            left: 0;
        }
    }
}

.active-backproj-modal {
    width: 95%;
    padding: 0 1rem;
}

@media screen and (max-width: 600px) {
    .backproject-modal {
        .backproject-header {
            padding: 2rem 1.5rem;
            .backproject-title {
                h2 {
                    font-size: 28px;
                }

                .close-modal {
                    top: 2.5rem;
                }
            }
        }

        .products {
            padding: 0.5rem;

            .card-wrap {
                padding: 1.5rem 1rem;

                .card {
                    padding: 0;

                    .headings {
                        .titles {
                            flex-direction: column;

                            h5 {
                                margin-left: 0;
                                padding: 0.5rem 0;
                            }
                        }
                    }

                    .nb-left {
                        padding: 0;
                    }
                }

                .buy-pledge {
                    flex-direction: column;

                    .buy-btns {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

// thanks for your support modal
.thanks-modal {
    display: none;
}

.thanks-modal-active {
    @include centerX;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 550px;
    padding: 3rem;
    border-radius: 10px;

    figure {
        width: 90px;
        height: 90px;
        margin-bottom: 2.5rem;

        img {
            width: 100%;
        }
    }

    h3 {
        font-size: 26px;
    }

    p {
        text-align: center;
    }

    .btn {
        @include btn;
        padding: 1rem 2rem;
        width: 110px;
        height: fit-content;
        margin-top: 1.5rem;
    }

    .btn:hover {
        background: $darkcyan;
    }
}

// thanks message mobile version
@media screen and (max-width: 600px) {
    .thanks-modal-active {
        width: 90%;
        height: fit-content;
        @include center;
        justify-content: center;

        figure {
            width: 64px;
            height: 64px;
            margin-bottom: 1.2rem;
        }

        h3 {
            text-align: center;
            font-size: 22px;
        }
    }
}

// amount alert modal
.amount-alert-modal {
    display: none;
}

.amount-alert-modal-active {
    @include center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $moderatecyan;
    width: 550px;
    padding: 3rem;
    border-radius: 10px;
    z-index: 200;
    transition: all 0.3s ease;

    p {
        color: lightcyan;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .btn {
        @include btn;
        background-color: lightcyan;
        color: $moderatecyan;
        margin-top: 1.5rem;
    }

    .btn:hover {
        background-color: white;
        font-weight: bold;
    }
}

// mobile version
@media screen and (max-width: 400px) {
    .amount-alert-modal-active {
        width: 340px;
        text-align: center;
    }
}