// Overlay mobile menu active
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.active-overlay {
    visibility: visible;
    opacity: 1;
}

// Back project modal
.backproject-modal {
    display: none;
}
.active-backproj-modal {
    display: block;
    @include centerX;
    @include container;
    max-width: 720px;
    top: 22%;

    .backproject-header {
        @include innerContainer;

        .close-modal {
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;

            img {
                opacity: 0.4;
            }
        }

        .close-modal:hover img {
            opacity: 1;
        }

        p {
            margin-top: 1rem;
        }
    }

    .products {
        @include innerContainer;
        padding: 0.5rem 3rem;

        .card {
            @include card;
            position: relative;

            .headings {
                display: flex;
                align-items: center;
                cursor: pointer;

                .round {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    position: relative;
                    width: 30px;
                    height: 30px;
                    border: 2px solid #f1f1f1;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .titles {
                    display: flex;

                    h5 {
                        margin-left: 1rem;
                        color: $moderatecyan;
                    }
                }

            }

            .headings:hover h4 {
                color: $moderatecyan;
            }

            .headings:hover .round {
                border: 1px solid $moderatecyan;
            }

            .zero-stock {
                opacity: 0.4;
            }

            p {
                padding: 1rem 0 0 50px;
            }

            .nb-left {
                position: absolute;
                top: 1.8rem;
                right: 1.5rem;
                font-size: 1.5rem;

                span {
                    color: gray;
                    font-size: 1rem;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

// mobile version
@media screen and (max-width: 800px) {
    .backproject-modal .products .card {

        p {
            padding: 1rem 0;
        }

        .nb-left {
            position: relative;
            display: block;
            padding: 1rem 0;
            top: 0;
            left: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    .backproject-modal {
        .backproject-header {
            padding: 2rem 1.5rem;
            .backproject-title {
                h2 {
                    font-size: 28px;
                }

                .close-modal {
                    top: 2.5rem;
                }
            }
        }

        .products {
            padding: 0.5rem 1rem;

            .card {
                padding: 1.5rem;

                .headings {
                    .titles {
                        flex-direction: column;

                        h5 {
                            margin-left: 0;
                            padding: 0.5rem 0;
                        }
                    }
                }

                .nb-left {
                    padding: 0;
                }
            }
        }
    }

}