.product {

    // stats container
    .stats-container {
        display: flex;
        justify-content: space-between;
        padding: 6rem 0 2rem;

        .stats-block {
            min-width: 200px;
            padding: 0 3rem;

            h2 {
                font-size: 32px;
            }
        }

        .stats-block:not(.last) {
            border-right: 1px solid lightgray;
        }
    }

    progress[value] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        height: 15px;
        width: 100%;
        margin: 0 3rem;
        border-radius: 20px;
        overflow: hidden;
    }

    progress::-webkit-progress-bar {
        background-color: #f1f1f1;
    }

    progress::-webkit-progress-value {
        background: $darkcyan;
    }

    // about container
    .about {
        margin: 6rem 3rem;

        p {
            padding-top: 2rem;
        }

    }

    // product cards container
}