
.stats {
    @include container;
    position: relative;
    height: 25%;
    top: -30px;

    .inner-container {
        @include innerContainer;

        .stats-figures {
            display: flex;
            justify-content: flex-start;
            padding-bottom: 1.5rem;

            .stats-block {
                width: 30%;
                min-width: 200px;

                p {
                    margin-top: 0.5rem;
                }

                span {
                    display: none;
                }
            }
            .stats-block:not(:first-of-type) {
                padding-left: 3rem;
            }

            .stats-block:not(.last) {
                border-right: 1px solid lightgray;
            }
        }

        progress[value] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            height: 15px;
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
        }

        progress::-webkit-progress-bar {
            background-color: #f1f1f1;
        }

        progress::-webkit-progress-value {
           background: $darkcyan;
       }
    }
}

// mobile version
@media screen and (max-width: 800px) {
    .stats {
        width: 90%;
        height: auto;

        .inner-container {

            .stats-figures {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .stats-block:not(.last) {
                    border-right: none;
                }

                .stats-block:not(:first-of-type) {
                    padding-left: 0;
                }

                .stats-block {
                    text-align: center;

                    span {
                        display: block;
                        width: 100px;
                        height: 1px;
                        border-radius: 5px;
                        margin: 1rem auto;
                        background-color: lightgray;
                    }
                }
            }
        }
    }
}