*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #333;
}

body {
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  line-height: 1.2;
  background: #f1f1f1;
}

main {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

h1 {
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 21px;
  padding-bottom: 1.5rem;
}

h4 {
  font-size: 19px;
}

h5 {
  color: #3cb4ac;
  font-size: 17px;
}

p {
  color: gray;
  line-height: 2;
}

@media screen and (max-width: 500px) {
  .inner-container {
    padding: 3rem 1rem;
  }
}
header {
  background: center/cover no-repeat url(../images/image-hero-desktop.jpg);
  width: 100%;
  height: 25rem;
  display: flex;
  padding: 1.5rem;
}
header nav {
  width: 80%;
  height: 50px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  position: relative;
}
header nav .menu {
  display: flex;
  margin-left: auto;
}
header nav .menu .menu-items {
  position: relative;
  list-style-type: none;
  text-align: center;
  margin: 0 20px;
}
header nav .menu .menu-items a {
  text-decoration: none;
  color: white;
}
header nav .menu .menu-items::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 2px;
  border-radius: 5px;
  transition: opacity 0.1s ease-in-out;
  background: white;
  opacity: 0;
}
header nav .menu .menu-items:hover::before {
  opacity: 0.4;
}
header .burger {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    background: center/cover no-repeat url(../images/image-hero-mobile.jpg);
  }
  header nav {
    width: 90%;
  }
  header nav .menu {
    display: none;
  }
  header nav .menu.active-menu {
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 5px 0px lightgrey;
    z-index: 10;
  }
  header nav .menu.active-menu .menu-items {
    width: 100%;
    padding: 1.3rem;
    margin: 0;
    text-align: center;
  }
  header nav .menu.active-menu .menu-items a {
    color: black;
    font-size: 21px;
  }
  header nav .menu.active-menu .menu-items:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
  }
  header nav .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: auto;
    z-index: 200;
  }
  header nav .burger .line {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in-out;
  }
  header nav .burger .line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    bottom: 10px;
    transition: all 0.2s ease-in-out;
  }
  header nav .burger .line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    top: 10px;
    transition: all 0.2s ease-in-out;
  }
  header nav .burger.active .line::before {
    transform: translateY(10px) rotate(-45deg);
  }
  header nav .burger.active .line {
    background: transparent;
  }
  header nav .burger.active .line::after {
    transform: translateY(-10px) rotate(45deg);
  }
}
@media screen and (max-width: 450px) {
  header nav {
    width: 100%;
  }
  header nav .menu.active-menu .menu-items {
    text-align: left;
  }
}
.product-heading {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  top: -80px;
  height: 30%;
}
.product-heading .product-heading-container {
  position: relative;
  height: 100%;
  padding: 3rem 3rem 0 3rem;
}
.product-heading .product-heading-container .product-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10%;
}
.product-heading .product-heading-container .product-heading-txt {
  position: relative;
}
.product-heading .product-heading-container .product-heading-txt p {
  text-align: center;
  padding: 0.6rem;
}
.product-heading .product-heading-container .product-buttons {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.product-heading .product-heading-container .product-buttons .btn {
  width: 200px;
  height: 56px;
  padding: 1rem 2rem;
  border-radius: 999px;
  background: #3cb4ac;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
.product-heading .product-heading-container .product-buttons .back-project:hover {
  background: #147b74;
}
.product-heading .product-heading-container .product-buttons .bookmark-btn {
  background: #f1f1f1;
  color: #8e8e8e;
  position: relative;
}
.product-heading .product-heading-container .product-buttons .bookmark-btn svg {
  position: absolute;
  left: 0;
  top: 0;
}
.product-heading .product-heading-container .product-buttons .bookmark-btn .bookmark-text {
  text-decoration: none;
  color: #7a7a7a;
  font-weight: 700;
  margin-left: 2rem;
}
.product-heading .product-heading-container .product-buttons .bookmark-btn:hover svg {
  opacity: 0.5;
}

.bookmark-btn.bookmarked svg circle {
  fill: #147b74;
}

.bookmark-btn.bookmarked svg path {
  fill: white;
}

.bookmark-btn.bookmarked .bookmark-text {
  color: #147b74 !important;
}

@media screen and (max-width: 1244px) {
  .product-heading .product-heading-container {
    padding: 3rem 3rem 2rem 3rem;
  }
  .product-heading .product-heading-container .product-buttons {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 800px) {
  .product-heading {
    width: 90%;
  }
}
@media screen and (max-width: 610px) {
  .product-heading .product-heading-container .product-heading-txt h1 {
    font-size: 22px;
  }
  .product-heading .product-heading-container .product-buttons {
    justify-content: space-between;
  }
  .product-heading .product-heading-container .product-buttons .bookmark-btn {
    width: 56px;
    padding: 0;
  }
  .product-heading .product-heading-container .product-buttons .bookmark-btn .bookmark-text {
    display: none;
  }
  .product-heading .product-heading-container .product-buttons .bookmark-mobile {
    display: block;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 395px) {
  .product-heading .product-heading-container {
    padding: 2rem 0;
  }
  .product-heading .product-heading-container .product-buttons {
    justify-content: space-evenly;
  }
}
.stats {
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  position: relative;
  height: 25%;
  top: -30px;
}
.stats .inner-container {
  height: 100%;
  padding: 3rem;
}
.stats .inner-container .stats-figures {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
}
.stats .inner-container .stats-figures .stats-block {
  width: 30%;
  min-width: 200px;
}
.stats .inner-container .stats-figures .stats-block p {
  margin-top: 0.5rem;
}
.stats .inner-container .stats-figures .stats-block span {
  display: none;
}
.stats .inner-container .stats-figures .stats-block:not(:first-of-type) {
  padding-left: 3rem;
}
.stats .inner-container .stats-figures .stats-block:not(.last) {
  border-right: 1px solid lightgray;
}
.stats .inner-container progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  height: 15px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.stats .inner-container progress::-webkit-progress-bar {
  background-color: #f1f1f1;
}
.stats .inner-container progress::-webkit-progress-value {
  background: #147b74;
}

@media screen and (max-width: 800px) {
  .stats {
    width: 90%;
    height: auto;
  }
  .stats .inner-container .stats-figures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stats .inner-container .stats-figures .stats-block:not(.last) {
    border-right: none;
  }
  .stats .inner-container .stats-figures .stats-block:not(:first-of-type) {
    padding-left: 0;
  }
  .stats .inner-container .stats-figures .stats-block {
    text-align: center;
  }
  .stats .inner-container .stats-figures .stats-block span {
    display: block;
    width: 100px;
    height: 1px;
    border-radius: 5px;
    margin: 1rem auto;
    background-color: lightgray;
  }
}
.about {
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  margin-top: 1.2rem;
}
.about .inner-container {
  height: 100%;
  padding: 3rem;
}
.about .inner-container p {
  padding-bottom: 1.5rem;
}
.about .inner-container .products .card {
  border: 2px solid #f1f1f1;
  margin-bottom: 1rem;
  padding: 2rem 1.5rem;
  border-radius: 10px;
}
.about .inner-container .products .card .headings {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.about .inner-container .products .card .headings .inactive-pledge {
  color: #7a7a7a;
}
.about .inner-container .products .card .counts-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .inner-container .products .card .counts-wrap p {
  padding-bottom: 0;
}
.about .inner-container .products .card .counts-wrap p span {
  font-weight: 700;
  color: black;
  font-size: 28px;
  margin-right: 0.3rem;
}
.about .inner-container .products .card .counts-wrap .btn {
  width: 200px;
  height: 56px;
  padding: 1rem 2rem;
  border-radius: 999px;
  background: #3cb4ac;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
.about .inner-container .products .card .counts-wrap .reward-btn:hover {
  background: #147b74;
}
.about .inner-container .products .card .no-stock p span {
  color: gray;
}
.about .inner-container .products .card .no-stock .out-of-stock {
  background: gray;
}

@media screen and (max-width: 800px) {
  .about {
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  .about {
    width: 100%;
  }
  .about .inner-container {
    padding: 0;
  }
  .about .inner-container .products {
    padding: 0.5rem 1rem;
  }
  .about .inner-container .products .card {
    padding: 1.5rem;
  }
  .about .inner-container .products .card .headings, .about .inner-container .products .card .counts-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.active-overlay {
  visibility: visible;
  opacity: 1;
}

.backproject-modal {
  display: none;
}

.active-backproj-modal {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  max-width: 720px;
  top: 22%;
}
.active-backproj-modal .backproject-header {
  height: 100%;
  padding: 3rem;
}
.active-backproj-modal .backproject-header .close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.active-backproj-modal .backproject-header .close-modal img {
  opacity: 0.4;
}
.active-backproj-modal .backproject-header .close-modal:hover img {
  opacity: 1;
}
.active-backproj-modal .backproject-header p {
  margin-top: 1rem;
}
.active-backproj-modal .products {
  height: 100%;
  padding: 3rem;
  padding: 0.5rem 3rem;
}
.active-backproj-modal .products .card {
  border: 2px solid #f1f1f1;
  margin-bottom: 1rem;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  position: relative;
}
.active-backproj-modal .products .card .headings {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.active-backproj-modal .products .card .headings .round {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
  margin-right: 20px;
}
.active-backproj-modal .products .card .headings .titles {
  display: flex;
}
.active-backproj-modal .products .card .headings .titles h5 {
  margin-left: 1rem;
  color: #3cb4ac;
}
.active-backproj-modal .products .card .headings:hover h4 {
  color: #3cb4ac;
}
.active-backproj-modal .products .card .headings:hover .round {
  border: 1px solid #3cb4ac;
}
.active-backproj-modal .products .card .zero-stock {
  opacity: 0.4;
}
.active-backproj-modal .products .card p {
  padding: 1rem 0 0 50px;
}
.active-backproj-modal .products .card .nb-left {
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  font-size: 1.5rem;
}
.active-backproj-modal .products .card .nb-left span {
  color: gray;
  font-size: 1rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 800px) {
  .backproject-modal .products .card p {
    padding: 1rem 0;
  }
  .backproject-modal .products .card .nb-left {
    position: relative;
    display: block;
    padding: 1rem 0;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .backproject-modal .backproject-header {
    padding: 2rem 1.5rem;
  }
  .backproject-modal .backproject-header .backproject-title h2 {
    font-size: 28px;
  }
  .backproject-modal .backproject-header .backproject-title .close-modal {
    top: 2.5rem;
  }
  .backproject-modal .products {
    padding: 0.5rem 1rem;
  }
  .backproject-modal .products .card {
    padding: 1.5rem;
  }
  .backproject-modal .products .card .headings .titles {
    flex-direction: column;
  }
  .backproject-modal .products .card .headings .titles h5 {
    margin-left: 0;
    padding: 0.5rem 0;
  }
  .backproject-modal .products .card .nb-left {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
