@import '_variables.scss';

@import '_mixins.scss';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    line-height: 1.5;
    background: #333;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: white;
}

p {
    color: gray;
}

// hero section
@import '_hero.scss';

// product section
@import '_product.scss';

// footer
@import '_footer.scss';