*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  line-height: 1.2;
  background: #333;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f1f1f1;
}

p {
  color: gray;
  line-height: 2;
}

header {
  background: center/cover no-repeat url(../images/image-hero-desktop.jpg);
  width: 100%;
  height: 45%;
}
header nav {
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  align-items: center;
  position: relative;
}
header nav .menu {
  display: flex;
  margin-left: auto;
}
header nav .menu .menu-items {
  position: relative;
  list-style-type: none;
  text-align: center;
  margin: 0 20px;
}
header nav .menu .menu-items a {
  text-decoration: none;
  color: white;
}
header nav .menu .menu-items::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 2px;
  border-radius: 5px;
  transition: opacity 0.1s ease-in-out;
  background: white;
  opacity: 0;
}
header nav .menu .menu-items:hover::before {
  opacity: 0.4;
}
header .burger {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    background: center/cover no-repeat url(../images/image-hero-mobile.jpg);
  }
  header nav .menu {
    display: none;
  }
  header nav .menu.active-menu {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 5px 0px lightgrey;
    z-index: 10;
  }
  header nav .menu.active-menu .menu-items {
    width: 100%;
    padding: 30px;
    margin: 0;
    text-align: center;
  }
  header nav .menu.active-menu .menu-items a {
    color: black;
    font-size: 21px;
  }
  header nav .menu.active-menu .menu-items:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
  }
  header nav .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: auto;
  }
  header nav .burger .line {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in-out;
  }
  header nav .burger .line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    bottom: 10px;
    transition: all 0.2s ease-in-out;
  }
  header nav .burger .line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    top: 10px;
    transition: all 0.2s ease-in-out;
  }
  header nav .burger.active .line::before {
    transform: translateY(10px) rotate(-45deg);
  }
  header nav .burger.active .line {
    background: transparent;
  }
  header nav .burger.active .line::after {
    transform: translateY(-10px) rotate(45deg);
  }
}
@media screen and (max-width: 450px) {
  header nav .menu.active-menu .menu-items {
    text-align: left;
  }
}
.product-heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  top: -15%;
  height: 30%;
  background: white;
  border-radius: 10px;
}
.product-heading .product-heading-container {
  position: relative;
  height: 100%;
  padding: 3rem 3rem 0 3rem;
}
.product-heading .product-heading-container .product-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10%;
}
.product-heading .product-heading-container .product-heading-txt {
  position: relative;
}
.product-heading .product-heading-container .product-heading-txt h1 {
  font-size: 28px;
  text-align: center;
}
.product-heading .product-heading-container .product-heading-txt p {
  text-align: center;
  padding: 0.6rem;
}
.product-heading .product-heading-container .product-buttons {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.product-heading .product-heading-container .product-buttons .btn {
  width: 200px;
  padding: 1rem 2rem;
  border-radius: 999px;
  background: #3cb4ac;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}
.product-heading .product-heading-container .product-buttons .back-project:hover {
  background: #147b74;
}
.product-heading .product-heading-container .product-buttons .bookmark-mobile {
  display: none;
}
.product-heading .product-heading-container .product-buttons .bookmark-desktop {
  background: #f1f1f1;
  color: #8e8e8e;
  position: relative;
  padding-left: 3.5rem;
}
.product-heading .product-heading-container .product-buttons .bookmark-desktop img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}
.product-heading .product-heading-container .product-buttons .bookmark:hover img {
  opacity: 0.5;
}

@media screen and (max-width: 1244px) {
  .product-heading .product-heading-container {
    padding: 3rem 3rem 2rem 3rem;
  }
  .product-heading .product-heading-container .product-buttons {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 1100px) {
  .product-heading {
    width: 60%;
  }
}
@media screen and (max-width: 950px) {
  .product-heading {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .product-heading {
    width: 90%;
    top: -7%;
  }
}
@media screen and (max-width: 610px) {
  .product-heading .product-heading-container .product-heading-txt h1 {
    font-size: 22px;
  }
  .product-heading .product-heading-container .product-buttons {
    justify-content: center;
  }
  .product-heading .product-heading-container .product-buttons .bookmark-desktop {
    display: none;
  }
  .product-heading .product-heading-container .product-buttons .bookmark-mobile {
    display: block;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 501px) {
  .product-heading .product-heading-container {
    padding: 2.5rem 0 0 0;
  }
}
@media screen and (max-width: 395px) {
  .product-heading {
    height: 35%;
  }
  .product-heading .product-heading-container {
    padding: 2.5rem 0 0 0;
  }
}
.product .stats-container {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0 2rem;
}
.product .stats-container .stats-block {
  min-width: 200px;
  padding: 0 3rem;
}
.product .stats-container .stats-block h2 {
  font-size: 32px;
}
.product .stats-container .stats-block:not(.last) {
  border-right: 1px solid lightgray;
}
.product progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  height: 15px;
  width: 100%;
  margin: 0 3rem;
  border-radius: 20px;
  overflow: hidden;
}
.product progress::-webkit-progress-bar {
  background-color: #f1f1f1;
}
.product progress::-webkit-progress-value {
  background: #147b74;
}
.product .about {
  margin: 6rem 3rem;
}
.product .about p {
  padding-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
