@import '_variables.scss';

@import '_mixins.scss';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #333;
}

body {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    line-height: 1.2;
    background: #f1f1f1;
}

main {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
    background-color:#f1f1f1;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 21px;
    padding-bottom: 1.5rem;
}

h4 {
    font-size: 19px;
}

h5 {
    color: $moderatecyan;
    font-size: 17px;
}

p {
    color: gray;
    line-height: 2;
}

@media screen and (max-width: 500px) {
    .inner-container {
        padding: 3rem 1rem;
    }
}


// hero section
@import '_hero.scss';

// product heading section
@import '_product-heading.scss';

// product stats section
@import '_product-stats.scss';

// about section
@import '_about.scss';

// modals
@import '_modals.scss';